In [5]:
# Import dependencies
import pandas as pd

In [6]:
# 1. Create a DataFrame 
df = pd.read_csv ("./Cleaned_Data/Nashville_housing_data_2013_2016_remove_0.csv")

C:\Users\jkr19\anaconda3\envs\PyData\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
# 2. Check the column datatypes
df.dtypes

Unnamed: 0                             int64
Unnamed: 0.1                           int64
Parcel ID                             object
Land Use                              object
Property Address                      object
Suite/ Condo #                        object
Property City                         object
Zip Code                               int64
Sale Date                             object
Sale Price                             int64
Legal Reference                       object
Sold As Vacant                        object
Multiple Parcels Involved in Sale     object
Owner Name                            object
Address                               object
City                                  object
State                                 object
Acreage                              float64
Tax District                          object
Neighborhood                         float64
image                                 object
Land Value                           float64
Building Value                       float64
Total Value                          float64
Finished Area                        float64
Foundation Type                       object
Year Built                           float64
Exterior Wall                         object
Grade                                 object
Bedrooms                             float64
Full Bath                            float64
Half Bath                            float64
dtype: object

In [12]:
# Drop columns
df = df.drop(columns=['Unnamed: 0',
                 'Unnamed: 0.1',
                 'Suite/ Condo #',
                 'Sale Date',
                 'Sold As Vacant',
                 'Multiple Parcels Involved in Sale',
                 'Owner Name',
                 'Address',
                 'City',
                 'State',
                 'Acreage',
                 'Tax District',
                 'Neighborhood',
                 'image',
                 'Land Value',
                 'Building Value',
                 'Total Value',
                 'Foundation Type',
                 'Year Built',
                 'Exterior Wall',
                 'Grade'])

In [13]:
df.head()

,Parcel ID,Land Use,Property Address,Property City,Zip Code,Sale Price,Legal Reference,Finished Area,Bedrooms,Full Bath,Half Bath
0,162 02 0A 008.00,SINGLE FAMILY,744 HILL BENNETT CIR,ANTIOCH,37013,134825,20130108-0002492,NaN,NaN,NaN,NaN
1,162 06 0 012.00,SINGLE FAMILY,152 TUSCULUM RD,ANTIOCH,37013,109900,20130124-0007776,1247.0,3.0,1.0,1.0
2,162 13 0A 015.00,SINGLE FAMILY,2321 GREEN TRAILS CT,ANTIOCH,37013,152950,20130108-0002487,NaN,NaN,NaN,NaN
3,173 04 0A 202.00,SINGLE FAMILY,5224 RIDGEFALLS WAY,ANTIOCH,37013,195000,20130122-0007001,NaN,NaN,NaN,NaN
4,173 04 0A 274.00,SINGLE FAMILY,5457 OAK CHASE DR,ANTIOCH,37013,230000,20130128-0008839,NaN,NaN,NaN,NaN

In [15]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv('./Cleaned_Data/new_housing.csv', index=False)