In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# Load the data
file_path = ('Park_Locations_cleaned.csv')
df = pd.read_csv(file_path)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

In [3]:
df.head()

,Park Name,Zip Codes,Acres,Year Established,Community Center,Nature Center,Playground,ADA Accessible,Restrooms Available,Picnic Shelters,...,Camping Available by Permit,Fishing by Permit,Lake,Canoe Launch,Community Garden,Historic Features,Notes,Mapped Location,Lat,Lng
0,Antioch Park,37013,7.98,1950,Yes,No,Yes,Yes,Yes,Yes,...,No,No,No,No,Yes,No,"Greenway Trailhead, Canoe Launch on Blue Hole ...","5023 Blue Hole Rd Antioch, TN 37013",36.055271,-86.672392
1,Cane Ridge Park,37013,274.13,1983,No,No,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,"Model Airplane Field, 3 Reservable Picnic Shel...","419 Battle Rd Antioch, TN 37013",35.994965,-86.624342
2,Cecil Rhea Crawford Park,37013,6.25,1971,No,No,Yes,No,No,No,...,No,No,No,Yes,No,No,Historic Schoolhouse Leased to Community Organ...,"6043 Cane Ridge Rd Antioch, TN 37013",36.001427,-86.636764
4,Southeast Community Center Park,37013,12.14,2014,Yes,No,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,"Community Center, playground, fitness equipmen...","5260 Hickory Hollow Pkwy Antioch, TN 37013",36.048466,-86.657263
5,William A. Pitts Park,37013,26.94,1982,No,No,Yes,Yes,No,Yes,...,No,No,No,No,No,No,,"299 Tusculum Rd Nashville, TN",36.059541,-86.706819

In [4]:
# Remove the unwanted columns
df.drop(columns=['Year Established',
        'Picnic Shelters',
        'Picnic Shelters Quantity',
        'Volleyball',
        'Skate Park',
        'Spray Park',
        'Hiking Trails',
        'Horse Trails',
        'Mountain Bike Trails',
        'Boat Launch',
        'Camping Available by Permit',
        'Fishing by Permit',
        'Lake',
        'Canoe Launch',
        'Community Garden',
        'Notes'])

,Park Name,Zip Codes,Acres,Community Center,Nature Center,Playground,ADA Accessible,Restrooms Available,Dog Park,Baseball Fields,...,Football & Multi-purpose Fields,Tennis Courts,Disc Golf,Swimming Pool,Golf Course,Walk & Jog Paths,Historic Features,Mapped Location,Lat,Lng
0,Antioch Park,37013,7.98,Yes,No,Yes,Yes,Yes,No,No,...,No,No,No,No,No,Yes,No,"5023 Blue Hole Rd Antioch, TN 37013",36.055271,-86.672392
1,Cane Ridge Park,37013,274.13,No,No,Yes,Yes,Yes,No,Yes,...,Yes,Yes,No,No,No,Yes,No,"419 Battle Rd Antioch, TN 37013",35.994965,-86.624342
2,Cecil Rhea Crawford Park,37013,6.25,No,No,Yes,No,No,No,No,...,No,No,No,No,No,No,No,"6043 Cane Ridge Rd Antioch, TN 37013",36.001427,-86.636764
4,Southeast Community Center Park,37013,12.14,Yes,No,Yes,Yes,Yes,No,No,...,No,No,No,No,No,Yes,No,"5260 Hickory Hollow Pkwy Antioch, TN 37013",36.048466,-86.657263
5,William A. Pitts Park,37013,26.94,No,No,Yes,Yes,No,Yes,Yes,...,No,No,No,No,No,No,No,"299 Tusculum Rd Nashville, TN",36.059541,-86.706819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Harpeth Knoll Park,37221,9.88,No,No,Yes,Yes,No,No,Yes,...,No,No,No,No,No,No,No,"708 Goodpasture Terrace Nashville, TN",36.058643,-86.937415
108,Harpeth River Park,37221,69.86,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,"7820 Coley Davis Rd Nashville, TN",36.078732,-86.960617
109,Percy Warner Park,37221,1991.56,No,No,Yes,Yes,Yes,No,No,...,No,No,No,No,Yes,No,No,"7311 Hwy100 Nashville, TN",36.061346,-86.910062
110,Ted Rhodes Park,37228,261.17,No,No,No,No,Yes,No,No,...,Yes,Yes,No,No,Yes,No,No,"1901 Ed Temple Blvd Nashville, TN",36.184191,-86.823830
111,Public Square Park,37243,6.01,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,"10 Public Square Nashville, TN",6.166439,-86.778852

In [ ]:
df.head()

In [5]:
df.to_csv('Park_Locations_etl.csv')

In [ ]:
File Break--------------

In [31]:
# Load the data
file_path = ('MNPS Enrollment Data 060121.csv')
df = pd.read_csv(file_path)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
# df = df.dropna()

In [32]:
df.head()

,School Year,School Level,School ID,School Name,State School ID,Zip Code,Rank,Great schools rating,Total Enrollment,Grade PreK 3yrs,...,Black or African American,Hispanic/Latino,Native Hawaiian or Other Pacific Islander,White,Male,Female,Economically Disadvantaged,Students with Disabilities,Limited English Proficiency,DataAsOf
0,20-21,Elementary School,496,A. Z. Kelley Elementary,1,37013,4.0,Below Average,745,NaN,...,37%,25%,10%,24%,53%,47%,37%,11%,38%,06/01/2021
1,20-21,Elementary School,375,Alex Green Elementary,5,37189,3.0,Below Average,313,NaN,...,83%,10%,10%,7%,48%,52%,74%,12%,16%,06/01/2021
2,20-21,Elementary School,105,Amqui Elementary,10,37115,5.0,Average,445,NaN,...,43%,46%,10%,10%,50%,50%,58%,9%,34%,06/01/2021
3,20-21,Elementary School,460,Andrew Jackson Elementary,15,37138,7.0,Above Average,409,< 10,...,29%,16%,10%,49%,52%,48%,25%,13%,9%,06/01/2021
4,20-21,High School,110,Antioch High School,20,37013,2.0,Below Average,1894,NaN,...,35%,44%,10%,17%,53%,47%,38%,11%,35%,06/01/2021

In [33]:
# Remove the unwanted columns
df.drop(columns=['School Year',
                 'School ID',
                 'State School ID',
                 'Grade PreK 3yrs',
                 'Grade PreK 4yrs',
                 'Grade K',
                 'Grade 1',
                 'Grade 2',
                 'Grade 3',
                 'Grade 4',
                 'Grade 5',
                 'Grade 6',
                 'Grade 7',
                 'Grade 8',
                 'Grade 9',
                 'Grade 10',
                 'Grade 11',
                 'Grade 12',
                 'Male',
                 'Female',
                 'Economically Disadvantaged',
                 'Limited English Proficiency',
                 'DataAsOf'])

,School Level,School Name,Zip Code,Rank,Great schools rating,Total Enrollment,American Indian or Alaska Native,Asian,Black or African American,Hispanic/Latino,Native Hawaiian or Other Pacific Islander,White,Students with Disabilities
0,Elementary School,A. Z. Kelley Elementary,37013,4.0,Below Average,745,10%,14%,37%,25%,10%,24%,11%
1,Elementary School,Alex Green Elementary,37189,3.0,Below Average,313,10%,10%,83%,10%,10%,7%,12%
2,Elementary School,Amqui Elementary,37115,5.0,Average,445,10%,10%,43%,46%,10%,10%,9%
3,Elementary School,Andrew Jackson Elementary,37138,7.0,Above Average,409,10%,6%,29%,16%,10%,49%,13%
4,High School,Antioch High School,37013,2.0,Below Average,1894,10%,5%,35%,44%,10%,17%,11%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Middle School,West End Middle,37205,4.0,Below Average,478,10%,5%,41%,6%,10%,50%,22%
158,Elementary School,Westmeade Elementary,37205,6.0,Average,379,10%,7%,36%,16%,10%,41%,14%
159,High School,Whites Creek High School,37189,1.0,Below Average,519,10%,10%,82%,6%,10%,12%,22%
160,Middle School,William Henry Oliver Middle,37211,5.0,Average,910,10%,8%,30%,18%,10%,43%,11%
161,Middle School,Wright Middle,37211,3.0,Below Average,789,10%,5%,16%,69%,10%,12%,10%

In [34]:
df.to_csv('MNPS Enrollment Data 060121_etl.csv')

PermissionError: [Errno 13] Permission denied: 'MNPS Enrollment Data 060121.csv'