In [8]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
import sqlite3

connection = sqlite3.connect(":memory:")

cursor = connection.cursor()

sql_file = open("living_in_nashville.sql")
sql_as_string = sql_file.read()
cursor.executescript(sql_as_string)

In [43]:
housing_list = []
for row in cursor.execute("SELECT * FROM Nashville_Housing_Data"):
    housing_list.append(row)

#housing_df
housing_df = pd.DataFrame(housing_list)
housing_df.columns = ['Unnamed:0',"ParcelID","LandUse","PropertyAddress","Suite/Condo#","PropertyCity","ZipCode","SaleDate","SalePrice","LegalReference","SoldAsVacant","MultipleParcelsInvolvedinSale","OwnerName","Address","City","State","Acreage","TaxDistrict","Neighborhood","image","LandValue","BuildingValue","TotalValue","FinishedArea","FoundationType","YearBuilt","ExteriorWall","Grade","Bedrooms","FullBath","HalfBath"]
housing_df.head()

,Unnamed:0,ParcelID,LandUse,PropertyAddress,Suite/Condo#,PropertyCity,ZipCode,SaleDate,SalePrice,LegalReference,...,BuildingValue,TotalValue,FinishedArea,FoundationType,YearBuilt,ExteriorWall,Grade,Bedrooms,FullBath,HalfBath
0,32,162 02 0A 008.00,SINGLE FAMILY,744 HILL BENNETT CIR,None,ANTIOCH,37013,1/7/2013,134825,20130108-0002492,...,None,None,None,None,None,None,None,None,None,None
1,33,162 06 0 012.00,SINGLE FAMILY,152 TUSCULUM RD,None,ANTIOCH,37013,1/15/2013,109900,20130124-0007776,...,77400,101400,1247,CRAWL,1968,BRICK,C,3,1,1
2,34,162 13 0A 015.00,SINGLE FAMILY,2321 GREEN TRAILS CT,None,ANTIOCH,37013,1/4/2013,152950,20130108-0002487,...,None,None,None,None,None,None,None,None,None,None
3,45,173 04 0A 202.00,SINGLE FAMILY,5224 RIDGEFALLS WAY,None,ANTIOCH,37013,1/18/2013,195000,20130122-0007001,...,None,None,None,None,None,None,None,None,None,None
4,46,173 04 0A 274.00,SINGLE FAMILY,5457 OAK CHASE DR,None,ANTIOCH,37013,1/18/2013,230000,20130128-0008839,...,None,None,None,None,None,None,None,None,None,None

In [44]:
parks_list = []
for row in cursor.execute("SELECT * FROM Park_Locations"):
    parks_list.append(row)

parks_df = pd.DataFrame(parks_list)
parks_df.columns= ["ParkName","ZipCodes","Acres","CommunityCenter","NatureCenter","Playground","ADAAccessible","RestroomsAvailable","DogPark","BaseballFields","BasketballCourts","SoccerFields","Football&Multi-purposeFields","TennisCourts","DiscGolf","SwimmingPool","GolfCourse","Walk&JogPaths","HistoricFeatures","MappedLocation","Lat","Lng"]
parks_df.head()

,ParkName,ZipCodes,Acres,CommunityCenter,NatureCenter,Playground,ADAAccessible,RestroomsAvailable,DogPark,BaseballFields,...,Football&Multi-purposeFields,TennisCourts,DiscGolf,SwimmingPool,GolfCourse,Walk&JogPaths,HistoricFeatures,MappedLocation,Lat,Lng
0,Antioch Park,37013,7.98,Yes,No,Yes,Yes,Yes,No,No,...,No,No,No,No,No,Yes,No,"5023 Blue Hole Rd Antioch, TN 37013",36.055271,-86.672392
1,Cane Ridge Park,37013,274.13,No,No,Yes,Yes,Yes,No,Yes,...,Yes,Yes,No,No,No,Yes,No,"419 Battle Rd Antioch, TN 37013",35.994965,-86.624342
2,Cecil Rhea Crawford Park,37013,6.25,No,No,Yes,No,No,No,No,...,No,No,No,No,No,No,No,"6043 Cane Ridge Rd Antioch, TN 37013",36.001427,-86.636764
3,Southeast Community Center Park,37013,12.14,Yes,No,Yes,Yes,Yes,No,No,...,No,No,No,No,No,Yes,No,"5260 Hickory Hollow Pkwy Antioch, TN 37013",36.048466,-86.657263
4,William A. Pitts Park,37013,26.94,No,No,Yes,Yes,No,Yes,Yes,...,No,No,No,No,No,No,No,"299 Tusculum Rd Nashville, TN",36.059541,-86.706819

In [45]:
restaurants_list = []
for row in cursor.execute("SELECT * FROM Nashville_Restaurants"):
    restaurants_list.append(row)

restaurants_df = pd.DataFrame(restaurants_list)
restaurants_df.columns = ["RestaurantName","Neighborhood","Address","ZIPCode","Description"]
restaurants_df.head()

,RestaurantName,Neighborhood,Address,ZIPCode,Description
0,12 South Taproom,12 South,2318 12th Avenue South,37204,TAPROOM & GRILL
1,Bartaco,12 South,2526 12th Avenue South,37204,TACOS & TEQUILA RESTAURANT
2,Bottle Cap,12 South,2403 12th Avenue South,37204,NEIGHBORHOOD RESTAURANT AND BAR
3,Burger UP,12 South,2901 12th Avenue South,37204,BURGER RESTAURANT
4,Christie Cookie Co.,12 South,2606 12th Avenue South,37204,COOKIE STORE

In [46]:
schools_list = []
for row in cursor.execute("SELECT * FROM MNPS_Enrollment_Data"):
    schools_list.append(row)


schools_df = pd.DataFrame(schools_list)
schools_df.columns = ["SchoolLevel","SchoolName","ZipCode","Rank","Greatschoolsrating","TotalEnrollment","AmericanIndianorAlaskaNative","Asian","BlackorAfricanAmerican","Hispanic/Latino","NativeHawaiianorOtherPacificIslander","White","StudentswithDisabilities"]
schools_df.head()

,SchoolLevel,SchoolName,ZipCode,Rank,Greatschoolsrating,TotalEnrollment,AmericanIndianorAlaskaNative,Asian,BlackorAfricanAmerican,Hispanic/Latino,NativeHawaiianorOtherPacificIslander,White,StudentswithDisabilities
0,Elementary School,A. Z. Kelley Elementary,37013,4.0,Below Average,745,10%,14%,37%,25%,10%,24%,11%
1,Elementary School,Alex Green Elementary,37189,3.0,Below Average,313,10%,10%,83%,10%,10%,7%,12%
2,Elementary School,Amqui Elementary,37115,5.0,Average,445,10%,10%,43%,46%,10%,10%,9%
3,Elementary School,Andrew Jackson Elementary,37138,7.0,Above Average,409,10%,6%,29%,16%,10%,49%,13%
4,High School,Antioch High School,37013,2.0,Below Average,1894,10%,5%,35%,44%,10%,17%,11%

In [47]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Split our preprocessed data into our features and target arrays
y = df[target_variable].values
X = df.drop(target_variable,1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
#Create a linear regression model 
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
classifier

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

In [ ]:
predictions = model.predict(X)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")